package home

import "github.com/itsig0/tallytome/view/layout"

templ Show(hx bool) {
    @layout.Base(hx){
        <div class="container">
            <h1>Schön hier aber waren sie schon mal in Mordor?</h1>
        </div>
    }
}
